<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>数据库水印系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="container">

<br/>
<h1>水印密钥列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Key</th>
            <th>M</th>
            <th>Marked Line</th>
            <th>FileName</th>
            <th>Operate</th>
        </tr>
        </thead>
        <tbody>
        <!--each来进行for循环求值-->
        <tr  th:each="watermarkKey : ${waterMarkKeyList}">
            <th scope="row" th:text="${watermarkKey.getKid()}">kid</th>
            <td th:text="${watermarkKey.getKey()}">key</td>
            <td th:text="${watermarkKey.getM()}">M</td>
            <td th:text="${watermarkKey.getMarkedLine()}">L</td>
            <td th:text="${watermarkKey.getFile().getOriginFileName()}">fName</td>
            <td><a th:href="@{/user/delete(id=${watermarkKey.getKid()})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer no-margin-top">
    <ul class="pagination pull-right no-margin">

        <!-- 首页 -->
        <li>
            <a th:href="'/user/keymanager?pageNum=0'">首页</a>
        </li>

        <!-- 上一页 -->
        <li th:if="${waterMarkKeyList.hasPrevious()}">
            <a th:href="'/user/keymanager?pageNum=' + ${waterMarkKeyList.previousPageable().getPageNumber()}" th:text="上一页"></a>
        </li>

        <!-- 中间页 -->
        <li th:each="pageNum:${#numbers.sequence(0, waterMarkKeyList.getTotalPages() - 1)}">
            <a th:href="'/user/keymanager?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne waterMarkKeyList.pageable.getPageNumber()}"></a>
            <a th:href="'/user/keymanager?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq waterMarkKeyList.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
        </li>

        <!-- 下一页 -->
        <li th:if="${waterMarkKeyList.hasNext()}">
            <a th:href="'/user/keymanager?pageNum=' + ${waterMarkKeyList.nextPageable().getPageNumber()}" th:text="下一页"></a>
        </li>

        <!-- 尾页 -->
        <li>
            <a th:href="'/user/keymanager?pageNum=' + ${waterMarkKeyList.getTotalPages() - 1}">尾页</a>
        </li>

    </ul>
</div>

</body>
</html>