<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:include="header::header">
</head>
<body>
<hr>
<p th:text="${msg}" style="color:red;"></p>

<h1>首页</h1>

<div th:if="${session.loginUser==null}">
    <a th:href="@{/toLogin}">
        <span>登录</span>
    </a>
    |
    <a th:href="@{/toRegister}">
        <span>注册</span>
    </a>
</div>

<p th:text="${username}"></p>

<a th:href="@{/toSearch}">
    <span>search</span>
</a>
|
<a th:href="@{/toDetect}">
    <span>detect</span>
</a>

<div shiro:hasRole="user">
    |
    <a th:href="@{/user/toEmbed}">
        <span>embed</span>
    </a>
    |
    <a th:href="@{/user/keymanager}">
        <span>keyManager</span>
    </a>
</div>

<div shiro:hasRole="admin">
    <a th:href="@{/admin/userAdmin}">
        <span>用户管理</span>
    </a>
    |
    <a th:href="@{/admin/logAdmin}">
        <span>日志</span>
    </a>
</div>


</body>
</html>