<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>数据库水印系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="container">
<h1>Search</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>FileName</th>
            <th>UploadTime</th>
            <th>UserName</th>
        </tr>
        </thead>
        <tbody>
        <!--each来进行for循环求值-->
        <tr  th:each="file : ${fileList}">
            <td th:text="${file.getOriginFileName()}">filename</td>
            <td th:text="${file.getUploadTime()}">time</td>
            <td th:text="${file.getUser().getUsername}">username</td>
            <td><a th:href="@{/fileDownload(id=${file.getFid()})}" download>download</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer no-margin-top">
    <ul class="pagination pull-right no-margin">

        <!-- 首页 -->
        <li>
            <a th:href="'/toSearch?pageNum=0'">首页</a>
        </li>

        <!-- 上一页 -->
        <li th:if="${fileList.hasPrevious()}">
            <a th:href="'/toSearch?pageNum=' + ${fileList.previousPageable().getPageNumber()}" th:text="上一页"></a>
        </li>

        <!-- 中间页 -->
        <li th:each="pageNum:${#numbers.sequence(0, fileList.getTotalPages() - 1)}">
            <a th:href="'/toSearch?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne fileList.pageable.getPageNumber()}"></a>
            <a th:href="'/toSearch?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq fileList.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
        </li>

        <!-- 下一页 -->
        <li th:if="${fileList.hasNext()}">
            <a th:href="'/toSearch?pageNum=' + ${fileList.nextPageable().getPageNumber()}" th:text="下一页"></a>
        </li>

        <!-- 尾页 -->
        <li>
            <a th:href="'/toSearch?pageNum=' + ${fileList.getTotalPages() - 1}">尾页</a>
        </li>

    </ul>
</div>
</body>
</html>